<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title slot="start" class="ion-padding-start">
      <span class="gradient-text logo-title">GAURAV</span>
    </ion-title>
    <ion-buttons slot="end">
      <div class="desktop-only">
        <ion-button routerLink="/home" routerLinkActive="active-tab" class="neon-btn">Home</ion-button>
        <ion-button routerLink="/dashboard" routerLinkActive="active-tab" class="neon-btn">Skills</ion-button>
        <ion-button routerLink="/projects" routerLinkActive="active-tab" class="neon-btn">Projects</ion-button>
        <ion-button routerLink="/about" routerLinkActive="active-tab" class="neon-btn">About</ion-button>
      </div>
      <ion-menu-button class="mobile-only" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="ion-padding">
    <div class="page-header ion-text-center ion-margin-bottom animate-in">
      <h4 style="color: var(--ion-color-secondary); letter-spacing: 5px;">EXECUTED_LOGS</h4>
      <h1 class="gradient-text">PROJECT ARCHIVE</h1>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4" *ngFor="let project of projects" class="animate-in">
          <div class="cyber-card" style="margin: 10px;">
            <div class="project-img-container">
              <img [src]="project.image" [alt]="project.title" style="width: 100%; height: 250px; object-fit: cover;" />
              <div class="img-overlay"></div>
            </div>
            <div class="ion-padding">
              <h4 style="color: var(--ion-color-primary); letter-spacing: 5px; font-weight: 800; margin-bottom: 5px;">{{
                project.category | uppercase }}</h4>
              <h2 class="project-title">{{ project.title }}</h2>
              <p style="margin-bottom: 20px;">{{ project.description }}</p>
              <div class="tags">
                <span *ngFor="let tag of project.tags"
                  style="background: rgba(0,255,242,0.1); color: var(--ion-color-primary); padding: 5px 15px; border-radius: 5px; margin-right: 10px; font-size: 0.8rem; border: 1px solid rgba(0,255,242,0.3);">{{
                  tag }}</span>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>