.page-header {
    h1 {
        font-size: clamp(2rem, 10vw, 3.5rem) !important;
    }
}

.project-title {
    font-size: clamp(1.5rem, 6vw, 2.2rem) !important;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 15px;
}

.tags {
    span {
        font-size: clamp(0.7rem, 3vw, 0.8rem);
    }
}